.logo{
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
}

.logo-sm{
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
}

.menu-item{
    font-family: 'Roboto', sans-serif;
}